<div class="container mt-5 w-75">
    <div class="row align-items-center">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="assets/Biking-101-Getting-Fit-Staying-Safe-and-Having-Fun-8.19.2016_1de786e8-abac-44d6-8656-16782b958c68_1024x1024.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mountain biking</h5>

            <h5 class="card-title"></h5>
            <p>@bike4567878</p>
            <p class="card-text">I saw this neet tree today morning when i go for a hike</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="assets/alpe-di-siusi-sunrise-with-sassolungo-or-langkofel-royalty-free-image-1623254127.jpg" class="card-img-top" alt="...">
          <div class="card-body">

            <h5 class="card-title">Snowy Mountain</h5>
            <p>@mountainlover</p>
            <p class="card-text">Here is the picture of a snowy mountain</p>
          </div>
        </div> 
      </div>
  
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="assets/ad46dbb447cd0e9a6aeecd64cc2bd332b0cbcb79.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Neet tree</h5>
            <p>@nature</p>
            <p class="card-text">Saw this awesome tree during my hike today</p>
          </div>
        </div>
          </div>
    </div>
  </div>